@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --color-green: #38AF90;
    --color-white: #fff;
    --text-gray: #797979;
    --color-light-gray: #F0F0F0;
    --color-dark-gray: #383838;
    --color-salmon: #DD7E92;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a, a:hover {
    color: unset;
    text-decoration: none;
}

.nav-container {
    background-color: var(--color-green);
    height: 90px;
    width: 100%;
    padding: 14px 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.75);
}

.nav-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-main a {
    color: var(--color-white);
    text-decoration: none;
}

.nav-main img {
    width: 62px;
}

.nav-brand {
    font-size: 18px;
    font-weight: 700;
}

.menu-itens {
    display: flex;
    list-style-type: none;
}

.menu-itens li {
    margin: 10px;
}

.container {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}

.news-container{
    background-color: var(--color-light-gray);
    border-radius: 8px;
    margin: 10px 10px 28px 10px;
    padding: 16px 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.news-container hr {
    border-top: 1px solid var(--color-green);
    margin: 3px 0 0 0;
  }

.news-title {
    font-size: 24px;
    text-align: center;
    color: var(--text-gray);
    margin-top: 40px;   
}

.news-container h2 {
    font-size: 1rem;
    color: var(--color-green);
}

.news-container h3 {
    font-size: 14px;
    color: #DD7E92;
}

.news-container h4 {
    font-size: 12px;
    color: var(--text-gray);
}

.news-container h6 {
    font-weight: 400;
    font-size: 10px;
    color: var(--color-green);
    margin: 3px 0 0 0;
}

.news-container p {
    font-size: 10px;
    color: var(--text-gray);
    margin: 12px 0;
}

.botton-main {
    display: flex;
    align-items: center; 
    background-color: var(--color-salmon);
    /* width: 100%; */
    width: 244px;
    height: 67px;
    border-radius: 8px;
    margin: 0 auto;
}

.botton-text {
    text-align: center;
    margin: 0 auto;
    color: var(--color-white);
}